<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Cadastro de Produção Realizado com Sucesso</h2>
        <p>A produção <strong>{{ producao.tipo }}</strong> foi cadastrada com sucesso!</p>
        <a href="/tela_usuario" class="btn btn-primary">Voltar</a>
    </div>
</body>
</html>
